source http://nuget.org/api/v2
framework: net45

nuget MahApps.Metro
nuget Paket.Core
nuget FSharp.Core redirects:force
nuget Mono.Cecil prerelease redirects:force
nuget Microsoft.VisualStudio.Sdk.BuildTasks.14.0 prerelease
nuget VSSDK.DTE.8 copy_local: false
nuget VSSDK.DTE.9 copy_local: false
nuget VSSDK.DTE.10 copy_local: false
nuget VSSDK.GraphModel.12
nuget VSSDK.Language.12 copy_local: false
nuget VSSDK.Editor.12
nuget VSSDK.ComponentModelHost.12 copy_local: false
nuget VSSDK.Shell.12
nuget VSSDK.Shell.Interop.12 copy_local: false
nuget reactiveui 6.5.2
nuget reactiveui-events 6.5.0

group Build
source http://nuget.org/api/v2

nuget ILRepack
nuget FAKE
nuget FSharp.Formatting
nuget canopy
nuget Selenium.WebDriver.ChromeDriver 2.30.0.1
nuget Selenium.WebDriver 3.4

github fsharp/FAKE modules/Octokit/Octokit.fsx
