source http://nuget.org/api/v2

nuget MahApps.Metro
nuget Paket.Core
nuget VSSDK.DTE.8 copy_local: false
nuget VSSDK.DTE.9 copy_local: false
nuget VSSDK.DTE.10 copy_local: false
nuget VSSDK.GraphModel.11 copy_local: false
nuget VSSDK.Language.11 copy_local: false
nuget VSSDK.Editor.11 copy_local: false
nuget VSSDK.ComponentModelHost.11 copy_local: false
nuget VSSDK.Shell.11 copy_local: false
nuget VSSDK.Shell.Interop.11 copy_local: false
nuget reactiveui
nuget reactiveui-events

group Build
source http://nuget.org/api/v2

nuget ILRepack
nuget FAKE
nuget FSharp.Formatting
nuget canopy
nuget Selenium.WebDriver.ChromeDriver

github fsharp/FAKE modules/Octokit/Octokit.fsx
