<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clarius.VisualStudio" version="1.1.10" targetFramework="net45" />
  <package id="Clide" version="2.3.6" targetFramework="net45" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net45" />
  <package id="FSharp.Core" version="3.1.2" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.2" targetFramework="net45" />
  <package id="NuGet.VisualStudio" version="2.8.2" targetFramework="net45" />
  <package id="Paket.Core" version="0.18.5" targetFramework="net45" />
  <package id="ReflectionMagic" version="2.0.2" targetFramework="net45" />
  <package id="VSSDK.GraphModel" version="12.0.3" targetFramework="net45" />
  <package id="VSSDK.GraphModel.12" version="12.0.3" targetFramework="net45" />
  <package id="VSSDK.IDE.12" version="12.0.3" targetFramework="net45" />
</packages>